{
  // Use IntelliSense to learn about possible attributes.
  // Hover to view descriptions of existing attributes.
  // For more information, visit: https://go.microsoft.com/fwlink/?linkid=830387
  "version": "0.2.0",
  "configurations": [
    {
      "name": "Attach to QEMU",
      "type": "gdb",
      "request": "attach",
      "executable": "kernel/kernel",
      "target": "localhost:26000",
      "remote": true,
      "gdbpath": "/usr/bin/gdb",
      "cwd": "${workspaceRoot}",
      "autorun": [
        "set substitute-path /root ."
      ]
    },
    {
      "name": "(gdb) Connect QEMU",
      "type": "cppdbg",
      "request": "launch",
      "program": "${workspaceFolder}/kernel/kernel",
      "miDebuggerServerAddress": "localhost:26000",
      "MIMode": "gdb",
      "cwd": "${workspaceRoot}",
      "stopAtConnect": true,
      "setupCommands": [
        {
          "description": "为 gdb 启用整齐打印",
          "text": "-enable-pretty-printing",
          "ignoreFailures": true
        },
        {
          "text": "set substitute-path /root .",
          "ignoreFailures": true
        }
      ]
    },
  ]
}